<%
   #TODO: Populate this data from the controller
   @types = {"1" => "1",'2' => '2', '3' => '3'}
%>

<script type="text/javascript">
    var types = <%= ActiveSupport::JSON.encode(@types).html_safe %>;
</script>

<% if @deliverable.errors.any? %>
    <% @deliverable.errors.full_messages.each do |msg| %>
        <small class="error"><%= msg %></small>
    <% end %>
<% end %>
<div class="row">
  <div class="large-12 columns">
    <%= f.label :name, 'Name <small>required</small>'.html_safe, class: "project_phase_deliverable_field_label" %>
    <%= f.text_field :name %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= f.label :description, 'Description'.html_safe, class: "project_phase_deliverable_field_label" %>
    <%= f.text_area :description %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= f.label :deliverable_type_id, 'Deliverable Type <small>required</small>'.html_safe, class: "project_phase_deliverable_field_label" %>
    <%= f.select :deliverable_type_id, @deliverableTypesArray %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= f.label :uom_id, 'Unit of Measurement <small>required</small>'.html_safe, class: "project_phase_deliverable_field_label" %>
    <%= f.select :uom_id, @uoms %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= f.label :complexity_id, 'Complexity <small>required</small>'.html_safe, class: "project_phase_deliverable_field_label" %>
    <%= f.select :complexity_id, ProjectPhaseDeliverable.complexities.collect{ |index, value| [value, index] } %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= f.label :size, 'Size <small>required</small>'.html_safe, class: "project_phase_deliverable_field_label" %>
    <%= f.text_field :size %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= f.label :rate, 'Rate <small>required</small>'.html_safe, class: "project_phase_deliverable_field_label" %>
    <%= f.text_field :rate %>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <%= f.label :effort, 'Effort <small>required</small>'.html_safe, class: "project_phase_deliverable_field_label" %>
    <%= f.text_field :effort %>
  </div>
</div>

<%= f.hidden_field :project_phase_id, :value => @project_phase_id %>
