<% provide(:title, "Edit Deliverable") %>

<h3 id="page_header">Edit <%= @deliverable.name %></h3>


<fieldset>
  <%= form_for @deliverable do |f| %>
    <div class="row">
      <div class="large-12 columns">
        <%= f.label :name, 'Name <small>required</small>'.html_safe, class: "deliverable_field_label" %>
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns">
        <%= f.label :description, class: "deliverable_field_label" %>
        <%= f.text_area :description %>
      </div>
    </div>
    <div class="row">
      <div class="large-3 columns">
        <%= f.label :complexity, class: "deliverable_field_label" %>
        <%= f.select :complexity, [] %>
      </div>
    </div>
    <!--<div class="row">-->
      <!--<div class="large-3 large-offset-9 columns">-->
        <!--<input class="tiny button" type="submit" name="Submit" value="Create">-->
        <!--<a class="tiny button" href="/projects">Cancel</a>-->
      <!--</div>-->
    <!--</div>-->
  <% end %>
</fieldset>