<% provide(:title, "Project Overview") %>

<div>
  <label class="project_field_label">Name</label>
  <input type="text" id="name" value=<%= @project.name %> />
</div>
<div>
 <label class="project_field_label">Description</label>
  <input type="text" id="description" value=<%= @project.description %> />
</div>
<div>
<label class="project_field_label">Lifecycle</label>
  <input type="text" id="lifecycle" disabled="disabled" value=<%= @project.lifecycle_string %>  />
</div>

<div>
<table id="phase_table">
  <thead>
  <tr>
        <th scope="col"> Project Phases </th>
        <th scope="col"> Estimates </th>
  </tr>
  </thead>

  <tbody>
    <% @project_phases.each_with_index do |project_phase, index| %>
        <tr id="row_<%= index %>">
          <td class="name"> <%= project_phase.name %> </td>
          <td class="estimates"> 100 </td>
        </tr>
    <% end %>
  </tbody>
</table>
</div>

<div>
<label class="project_field_label">Total Estimation</label>
  <input type="text" id="total_estimation" value="" disabled="disabled" />
</div>

<div>
<input type="submit" name="Submit" value="Submit">
<input type="submit" name="Back" value="Back">
<input type="submit" name="Delete" value="Delete">
</div>
