<% provide(:title, "Phase Summary") %>

<h3 id="page_header"><%= @project_phase.name %> Summary</h3>

<fieldset>
  <form>

    <div class="row">
      <div class="large-12 columns">
        <label id="deliverables">Deliverables</label>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <table id="deliverable_table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Complexity</th>
            <th>Size</th>
            <th>Unit</th>
          </tr>
          </thead>
          <tbody>
          <tr id="row_1">
            <td class="name"><%= @project_phase_deliverables[0].name %></td>
            <td class="type"><%= @project_phase_deliverables[0].deliverable_type_id %></td>
            <td class="complexity"><%= @project_phase_deliverables[0].complexity_id %></td>
            <td class="size"><%= @project_phase_deliverables[0].size %></td>
            <td class="unit"><%= @project_phase_deliverables[0].uom_id %></td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="large-4 large-offset-8 columns">
        <a href="#" class="tiny button" name="New Deliverable" value="New Deliverable">New Deliverable</a>
        <a href="#" class="tiny button" name="Back" value="Back">Back</a>
      </div>
    </div>
  </form>
</fieldset>
