<% provide(:title, "Phase Summary") %>

<h3 id="page_header"><%= @project_phase.name %> Summary</h3>

<fieldset>
  <form>

    <div class="row">
      <div class="large-12 columns">
        <label id="deliverables">Deliverables</label>
      </div>
    </div>

    <div class="row">
      <div class="large-12 columns">
        <table id="deliverable_table">
          <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Complexity</th>
            <th>Size</th>
            <th>Unit</th>
          </tr>
          </thead>
          <tbody>
          <% @project_phase_deliverables.each_with_index do |deliverable, index| %>
              <tr id="row_<%= index + 1 %>">
                <td class="name"><%= link_to deliverable.name, deliverable %></td>
                <td class="type"><%= deliverable.deliverable_type_string %></td>
                <td class="complexity"><%= deliverable.complexity_string %></td>
                <td class="size"><%= deliverable.size %></td>
                <td class="unit"><%= deliverable.uom_string %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="large-4 large-offset-8 columns">
        <%= link_to "New Deliverable", new_project_phase_deliverable_path(project_phase_id: @project_phase.id), class: "tiny button" %>
        <!--a href="" class="tiny button" name="New Deliverable" value="New Deliverable">New Deliverable</a-->
        <a href="/projects/<%= @project_phase.project_id %>" class="tiny button" name="Back" value="Back">Back</a>
      </div>
    </div>
  </form>
</fieldset>
